.listado{
    width: 50%;
}

td{
    border: 2px solid  cadetblue; 
} 
.index-imagen{
  background-image:  url("../imagenes/home.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bienvenido{
   color:  antiquewhite;
   padding: 50px;
   width: 200px;
   font-size:80px;
}
.div-index {
    background-color:  activecaption ;
    border-radius: 10px;
    padding: 50px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-60%);
}
.entrar{
    background-color:  crimson;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    position: absolute;
    top: 90%;
    left: 45%;
    transform: translate(-50%,-50%);

}
.home-encargado{
  background-image:  url("../imagenes/encargado-fondo.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.div-encargado{
    background-color: darksalmon;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-80%);
}

.home-bicicletero{
  background-image:  url("../imagenes/bicicletero-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.div-bicicletero{
    background-color:  aquamarine;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-80%);
}
.home-vendedor{
  background-image:  url("../imagenes/vendedor-fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.div-vendedor{
    background-color:  aquamarine;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-80%);
}
 .vender{
    color: brown;
    margin: 15px;
    
}
 a{
    color: aliceblue;
    margin: 15px;
    
}
nav {
    background: chocolate;
    display: flex;
    justify-content: center;
}


.armar{
    color: brown;
}